.heart {
  width: 200px;
  height: 180px;
  background:
    radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
    radial-gradient(circle at 40% 65%, blue 64%, transparent 65%) top right,
    linear-gradient(to bottom left, green 43%,transparent 43%) bottom left ,
    linear-gradient(to bottom right,purple 43%,transparent 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
  border:5px solid yellow;
}
.heart::before {
  content:"";
  display:block;
  padding-top:100%;
}